*{
    font-family: "Golos Text", sans-serif; 
    padding: 0;
    margin: 0;
}

#logo{
    margin: 10px;
    vertical-align: middle;
    height: 60px;
}


h1{
    display: inline-block;
    text-align: center;
    height: 15px;
    font-size: 30px;
}

.box{
    background-color: lightgray;
    padding: 50px;
}

.task{
    background-color: white;
    width: 100%;
    border: 2px white;
    height: 30px;
    padding-top: 10px;
}

#stbotton{
    background-color: rgb(184, 184, 223);
    border-radius: 10%;
}
#ndbotton{
    border-radius: 10%;
}
